:host {
  font-family: "Inter", sans-serif;
}

/* Playfair font */
.font-playfair {
  font-family: "Playfair Display", serif;
}

/* Divider */
.divider-vertical {
  width: 3px;
  height: 48px;
  background-color: #24455e;
  opacity: 0.9;
  border-radius: 3px;
}

/* Desktop nav */
.nav-item {
  @apply text-gray-700 font-semibold transition-all;
}

.nav-item:hover {
  @apply text-white;
  background-color: #24455e;
}

/* Dropdown arrow */
.dropdown-arrow {
  font-size: 12px;
  transition: transform 0.25s ease;
}

/* Rotate arrow on hover */
.group:hover .dropdown-arrow {
  transform: rotate(180deg);
}

/* Dropdown custom shape */
.dropdown-menu {
  border-radius: 0 20px 20px 20px; /* TL TR BR BL */
}

/* Smooth item hover */
.dropdown-menu a {
  transition: all 0.2s ease;
}

.dropdown-menu a:first-child {
  border-top-right-radius: 16px;
}

.dropdown-menu a:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
