<!-- SEMUA HEADER & FOOTER DISEMBUNYIKAN DI LOGIN -->
<div *ngIf="!hideAllHeaderFooter">
  <!-- HEADER WEBSITE -->
  <app-header *ngIf="!isCareerPage"></app-header>

  <!-- HEADER CAREER -->
  <app-header-career *ngIf="isCareerPage"></app-header-career>
</div>

<!-- AREA KONTEN -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<div *ngIf="!hideAllHeaderFooter">
  <!-- FOOTER WEBSITE -->
  <app-footer *ngIf="!isCareerPage"></app-footer>

  <!-- FOOTER CAREER -->
  <app-footer-career *ngIf="isCareerPage"></app-footer-career>
</div>